.select-currency {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.currency-select {
    width: 80px;
    padding: 8px 13px 5px 10px;
    background-position: 100% 60%;
}

.cart-item-list {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;
    max-height: inherit;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    background: #fff;
}

.cart-item .product-description {
    color: #1e2d2b;
    width: 65%;
    line-height: 18px;
    font-size: 10px;
    padding: 15px 13px 13px 21px;
    letter-spacing: 0.02px;
}
.cart-item .product-description .remove-product {
    float: right;
    padding-right: 5px;
    position: absolute;
    right: 27px;
    margin-top: -10px;
    margin-right: -20px;
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
    color: #000;
}
.cart-item .product-description .quantity {
    font-size: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item .product-image {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e2d2b;
    width: 33.3%;
    padding-right: 15px;
}

.cart-item .product-description .quantity-selector {
    border: .5px solid #bcbcbc;
    padding: 7px;
    width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item .product-description .quantity .price {
    float: right;
    padding: 0 10px;
    width: inherit;
    font-size: 15px;
    letter-spacing: .03px;
}

.cart-item .product-description .quantity .counter-action {
    cursor: pointer;
    color: #000;
    font-size: 15px;
}

.cart-item .product-description .quantity .counter {
    padding: 0 10px;
    font-size: 13px;
}
