@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,500;1,700&display=swap");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

*:focus, button:focus {
  outline: none !important;
}

body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e6e2;
  z-index: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

select {
  background: #fff url(//cdn.shopify.com/s/files/1/2960/5204/t/4/assets/select.png?5997012569058552034) no-repeat
      right center;
  cursor: pointer;
  padding: 10px 2em 10px 8px;
  -webkit-padding-end: 30px;
  background-size: 17px 5px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  appearance: none !important;
}
